In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import json
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [2]:
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_colwidth', None)  # Show full column width

In [3]:
ratings = pd.read_csv("C:/Users/Ng Yong Jian/OneDrive - Nanyang Technological University/Desktop/NTU/Y3S1/SC4020 Data Analytics & Mining/Assignment/Assignment1/ml-100k/ml-100k/u.data", sep='\t', header=None)
ratings.columns = ['userid','movieId','rating','timestamp']
ratings

       userid  movieId  rating  timestamp
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
...       ...      ...     ...        ...
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [4]:
avg_mov_rating = ratings.groupby('movieId')['rating'].mean().sort_values(ascending=False).reset_index()
count_mov_rating = ratings.groupby('movieId')['rating'].count().sort_values(ascending=True).reset_index()
movies_rating_count_avg = avg_mov_rating.merge(count_mov_rating, on = 'movieId')
movies_rating_count_avg.columns = ['MovieID', 'Average Rating', 'Rating Count']
movies_rating_count_avg

      MovieID  Average Rating  Rating Count
0         814             5.0             1
1        1599             5.0             1
2        1201             5.0             1
3        1122             5.0             1
4        1653             5.0             1
...       ...             ...           ...
1677     1568             1.0             1
1678     1567             1.0             1
1679     1566             1.0             1
1680     1565             1.0             1
1681      852             1.0             1

[1682 rows x 3 columns]

In [5]:
column_names = [
    "MovieID", "Title", "ReleaseDate", "VideoReleaseDate", "IMDbURL",
    "Unknown", "Action", "Adventure", "Animation", "Children's", "Comedy",
    "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror",
    "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"
]


movies = pd.read_csv(
    "C:/Users/Ng Yong Jian/OneDrive - Nanyang Technological University/Desktop/NTU/Y3S1/SC4020 Data Analytics & Mining/Assignment/Assignment1/ml-100k/ml-100k/u.item",
    sep='|',
    header=None,
    names=column_names,
    encoding='latin-1' 
)

movies

,MovieID,Title,ReleaseDate,VideoReleaseDate,IMDbURL,Unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%20(1995),0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(1995),0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995),0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+(1997),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(1998),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Crazy%20(1994),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%20Stein%20(1991),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [6]:
columns_to_drop = ['ReleaseDate', 'VideoReleaseDate', 'IMDbURL']
movies_data = movies.drop(columns = columns_to_drop, axis = 1)
movies_df = pd.merge(movies_data, movies_rating_count_avg, how="inner", on=["MovieID"])
movies_df

,MovieID,Title,Unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Average Rating,Rating Count
0,1,Toy Story (1995),0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3.878319,452
1,2,GoldenEye (1995),0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,3.206107,131
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,3.033333,90
3,4,Get Shorty (1995),0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,3.550239,209
4,5,Copycat (1995),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,3.302326,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1.000000,1
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,3.000000,1
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,2.000000,1
1680,1681,You So Crazy (1994),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3.000000,1
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,3.000000,1

In [7]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

In [8]:
genre_columns = ['Unknown', 'Action', 'Adventure', 'Animation', "Children's",
                  'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
                  'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
                  'War', 'Western']

scaler = StandardScaler()
movies_df[genre_columns] = scaler.fit_transform(movies_df[genre_columns])

k = 20
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine', algorithm='auto')
knn_model.fit(movies_df[genre_columns])

NearestNeighbors(metric='cosine', n_neighbors=20)

In [9]:
def recommend_movies(movies_title, num_recommendations=10):
    movies_index = movies_df[movies_df['Title'] == movies_title].index[0]
    
    movies_genre = movies_df.loc[movies_index, genre_columns].values.reshape(1, -1)
    
    distances, indices = knn_model.kneighbors(movies_genre, n_neighbors=num_recommendations + 1)
    
    recommended_movies_indices = indices[0][1:]
    
    recommended_movies = movies_df.iloc[recommended_movies_indices]['Title'].tolist()
    return recommended_movies

In [10]:
input_movie_title = 'Toy Story (1995)'
recommended_movies = recommend_movies(input_movie_title)

print(f"Recommended movies for '{input_movie_title}':")
for i, movie in enumerate(recommended_movies, start=1):
    print(f"{i}. {movie}")

Recommended movies for 'Toy Story (1995)':
1. Toy Story (1995)
2. Land Before Time III: The Time of the Great Giving (1995) (V)
3. Sword in the Stone, The (1963)
4. Winnie the Pooh and the Blustery Day (1968)
5. Swan Princess, The (1994)
6. Oliver & Company (1988)
7. Balto (1995)
8. Pinocchio (1940)
9. Fox and the Hound, The (1981)
10. Gumby: The Movie (1995)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(